@import "tailwindcss";


@import "swiper/css";
@import "swiper/css/autoplay";
@import "swiper/css/navigation";


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-image: linear-gradient(
    90deg,
    #ffffff,
    #c6d7ff,
    #5fa8ff,
    #2b6fff
  );
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
}
a , button{
  cursor: pointer;
}